body{
  height: 100%;
}

 #root{
   height: 100%;
 }
.mobile-menu{
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background-color: #24252A;
  z-index: 3;
  transition-duration: .5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-menu-item{
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;  
  color: white;
  transition-duration: .5s;
  border-bottom: 1px dashed white;
}
.mobile-menu-item:hover{
  background-color: white;
  color: #24252A;
  transition-duration: .5s;
}
.mobile-menu-item:nth-child(3){
  border-top: 1px dashed white;
}
.login, .register{
  font-size: 25px;
  font-weight: bolder;
  border-bottom: 1px solid white;
  height: 80px;
  color: aquamarine;
}
.admin{
  font-size: 25px;
  font-weight: bolder;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  height: 80px;
  padding: 15px 0px;
  margin-bottom: 50px;
}
.log-out{
  display: none;
  color: aquamarine;
  margin-top: 15px
}
.log-out:hover{
  border-bottom: 1px solid white;
}
.logged-in-mobile{
  display: none;
  color: aquamarine;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  font-size: 15px;
}
.register{
  margin-bottom: 50px;
}

/* CLASES PARA ACCIONAR MENU Y BOTONES */
.active{
  width: 70%;
  transition-duration: .5s;
  border-left: 5px solid white;
}
.itemActive{
  display: flex;
}