.sectionUsers{
  height: 100%;
  width: 100%;
  margin: 50px 0px;
  padding: 0px 25px;
}
.dropdown{
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-container{
  padding: 20px;
}
.lblUsers{
  font-size: 30px;
}
.imgUser{
  margin-right: 1%;
}
.input-search-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.txtSearch{
  width: 100%;
}
.frmNewArticle{
  padding: 10px;
}
.txtArticle{
  height: 230px;
}
.mdlNewArticles{
  height: 500px;
}
.bi-search, .bi-funnel, .bi-plus-circle, .bi-x-lg, .bi-pencil, .bi-eye{
  color: black;
  font-size: 25px;
}
.bi-x-lg:hover, .bi-pencil:hover, .bi-eye:hover{
  border-bottom: 1px solid black;
}
.table-core-container{
  padding: 20px;
}
.loading-content{
  margin-top: 15px;
}