.sectionArticles{
  height: 100%;
  width: 100%;
  margin: 50px 0px;
  padding: 0px 25px;
}
.dropdown{
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-container{
  padding: 20px;
}
.lblArticles{
  font-size: 30px;
}
.imgArticles{
  margin-right: 1%;
}
.input-search-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.txtSearch{
  width: 100%;
}
.frmNewArticle{
  padding: 10px;
}
.txtArticle{
  height: 230px;
}
.bi-search, .bi-funnel, .bi-plus-circle, .bi-x-lg, .bi-pencil, .bi-eye{
  color: black;
  font-size: 25px;
}
.bi-x-lg:hover, .bi-pencil:hover, .bi-eye:hover{
  border-bottom: 1px solid black;
}
.table-core-container{
  height: 70%;
  padding: 20px;
  overflow-x: auto;
  overflow-y: auto;
}
.loading-content{
  margin-top: 15px;
}
button{
  border: none;
  background-color: transparent;
}
td, th{
 vertical-align: middle;
 text-align: center;
}
/* MEDIA QUERY CELULARES */
@media(min-width:320px) and (max-width: 415px){
  .div-new-article, .div-edit-article, .div-view-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .div-new-article-item, .div-edit-article-item, .div-view-article-item{
    width: 100%;
  }
}