.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.tarjeta-core-container{
  width: 95%;
  margin-left: 2.5% !important;
  margin-right: 2.5% !important;
}
.tarjeta{
  height: 450px;
  margin-bottom: 30px;
  text-align: center;
}
.img-size{
  object-fit: cover;
  height: 200px;
  width: 100%;
}
.letra{
  color: black;
}
.card-body{
  padding: 0px;
}
.tarjeta-contenido{
  margin-top: 15px;
  font-size: 14px;
}

