.car-core{
  margin-top: 30px;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.car-image{
  width: 100%;
  height: 700px;
  object-fit: cover;
}
.car-item{
  position: relative;
}
.car-item::after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.8855917366946778) 0%, rgba(0,212,255,0) 100%);
}
.car-caption{
  z-index: 2;
  margin-bottom: 30px;
}
.car-caption > h5{
  font-size: 35px;
}
.car-caption > p{
  font-size: 20px;
  font-weight: lighter;
}
.car-item.active{
  border: none;
}

/* MEDIA QUERY CELULARES */
@media(min-width:320px) and (max-width: 415px){
  .d-none{
    display: block !important;
  }
}