
.header-core-container{
  height: 80px;
  width: 100%;
  background-color: #24252A;
  box-shadow: -1px 3px 21px -1px rgba(95,95,95,0.89);
  z-index: 2;
  position: relative;
}
.header-social-icons{
  height: 30px;
  width: 100%;
  outline: 1px solid white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.bi{
  color: white;
}
.social-icon{
  margin-right: 20px;
  font-size: 18px;
}
.bi-facebook:hover{
  color: #1178F2;
  cursor: pointer;
}
.bi-instagram:hover{
  color: #FF69B4;
  cursor: pointer;
}
.bi-youtube:hover{
  color: #FF0000;
  cursor: pointer;
}
.header-logo-and-buttons{
  height: 50px;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-container, .buttons-container{
  display: flex;
  align-items: center;
  height: auto;
  width: 50%;
  height: 100%;
}
.logo-container{
  justify-content: flex-start;
}
.logo{
  margin-left: 5px;
  font-size: 30px;
  color: white;
}
.logo:hover{
  color: white;
}
.bi-list{
  display: none;
}
.header-logo-icon{
  height: 35px;
  margin-left: 35px;
}
.buttons-container{
  justify-content: flex-end;
}
.logged-in{
  font-size: 20px;
  font-weight: bolder;
  margin-right: 12px;
}
.logOut{
  margin-right: 12px;
}
.logOut:hover{
  cursor: pointer;
  border-bottom: 1px solid white;
}
.login-button, .register-button, .admin-button{
  margin-right: 12px;
  height: 30px;
  width: 150px;
  background-color: white;
  color: #24252A;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  transition-duration: .5s;
}
.login-button:hover, .register-button:hover, .admin-button:hover{
  background-color: #24252A;
  color: white;
  outline: 1px solid white;
  cursor: pointer;
  transition-duration: .5s;
}

/* MEDIA QUERY CELULARES */
@media(max-width: 415px){
  .header-core-container{
    height: fit-content;
  }
  .header-social-icons{
    justify-content: center;
    height: 40px;
  }
  .social-icon{
    margin: 0px 10px;
    font-size: 15px;
  }
  .header-logo-and-buttons{
    height: fit-content;
    flex-direction: column;
    padding: 10px 0px;
  }
  .buttons-container{
    justify-content: center;
    display: none;
  }
  .logo-container{
    justify-content: space-between;
    width: 100%;
  }
  .logo{
    font-size: 25px;
  }
  .header-logo-icon{
    height: 30px;
    margin: 0px;
  }
  .bi-list{
    display: block;
    margin-right: 16px;
    font-size: 30px;
  }
}
@media(min-width: 380px) and (max-width: 415px){
  .social-icon{
    margin: 0px 10px;
    font-size: 16px;
  }
}