*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100%;
}
#root{
  height: 100vh;
}
.register-core-container{
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../images/login2.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.register-core-container::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.6783088235294117) 0%, rgba(0,212,255,0) 100%);
}
.register-core-form{
  margin-top: 50px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border-radius: 20px;
  padding: 20px;
  background-color: #ffffff10;
  backdrop-filter: blur(5px);
}
.register-title{
  color: white;
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 25px;
  width: 100%;
  padding: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
}
.register-label{
  font-size: 10px;
  font-weight: bold;
  align-self: flex-start;
  color: white;
  width: 70%;
}
.register-input{
  width: 100%;
  height: 30px;
  margin-bottom: 16px;
  font-size: 16px;
  text-indent: 10px;
  border-radius: 5px;
  border: none;
}
.register-input:focus{
  font-weight: lighter;
  font-size: 16px;
  text-indent: 10px;
}
.register-form-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50px;
  color: white;
  background-color: #24252A;
  transition-duration: .5s;
  border: none;
}
.register-form-button:hover{
  background-color: white;
  color: #24252A;
  cursor: pointer;
  transition-duration: .5s;
}
.register-error{
  font-size: 12px;
  color: bisque;
  text-align: left;
  width: 100%;
}
.register-ok{
  color: aquamarine;
  font-size: 15px;
}
.register-con-cuenta{
  color: white;
  font-size: 12px;
  margin-bottom: 10px;
}
.register-login-link{
  color: aquamarine;
}
.register-login-link:hover{
  color: aquamarine;
  border-bottom: 1px solid aquamarine;
}
/* MEDIA QUERY CELULARES */
@media(min-width:100px) and (max-width: 375px){
  .register-core-form{
    width: 90%;
  }
  .register-title{
    font-size: 25px;
  }
  .register-label{
    font-size: 12px;
  }
  .register-input{
    height: 30px;
  }
  .register-form-button{
    width: 95%;
    height: 40px;
  }  
  .register-core-container{
    height: 110%;
  }
}
@media(min-width: 380px) and (max-width: 415px){
  .register-core-form{
    width: 95%;
  }
  .register-title{
    font-size: 35px;
  }
  .register-label{
    font-size: 16px;
  }
  .register-input{
    height: 45px;
  }
  .register-form-button{
    width: 95%;
    height: 90px;
  }  
  .register-core-container{
    height: 110%;
  }
}
/* MEDIA QUERY PARA CONTRARRESTAR TECLADO DE ANDROID */
@media(max-height: 450px){
  .register-core-container{
    height: 160%;
  }
}
/* MEDIA QUERY TABLETS */
@media(min-width: 416px) and (max-width: 1025px){
  .register-title{
    font-size: 50px;
    width: 85%;
  }
  .register-label{
    font-size: 20px;
    margin-left: 60px;
  }
  .register-input{
    height: 50px;
    width: 85%;
  }
  .register-form-button{
    height: 90px;
  }
  .register-core-form{
    width: 80%;
    padding: 50px 0px;
  }
}